/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap {
  width: 1024px;
  margin: 0 auto;
  font-family: "微軟正黑體", sans-serif;
}

/* top-nav */
.top-nav {
  display: flex;
  justify-content: flex-end;
  background: #f6f6f8;
}

.top-nav li {
  display: flex;
  padding: 8px;
}
.top-nav li a {
  text-decoration: none;
  padding-right: 10px;
}
.facebook a {
  border-right: 2px solid #cccccc;
  color: #4267b2;
}
.twitter a {
  color: #1da1f2;
  margin-left: 5px;
}

.facebook a:hover {
  color: rgb(99, 38, 38);
}
.twitter a:hover {
  color: rgb(99, 38, 38);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0px 3px 5px rgb(210, 210, 210);
  position: sticky;
  top: 0;
  z-index: 10;
}
.header h1 {
  display: block;
  background-image: url(./image/hexschool-logo.png);
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 30px;
}
.header .nav a {
  position: relative;
  text-decoration: none;
  color: #00251a;
  margin-right: 20px;
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.header .nav a:hover {
  width: 100%;
  border-bottom: 5px solid #22d3a7;
  transition: all 0.5s ease;
  cursor: pointer;
}

.banner {
  display: flex;
  align-items: center;
  background-image: url(./image/header_background.png);
  background-size: cover;
  background-position: center;
  height: 390px;
}
.banner h1 {
  width: 100%;
  height: 25%;
  font-size: 32px;
  padding-top: 30px;
  padding-left: 150px;
  background: #ffffff26;
}

/* content */
.content {
  display: flex;
  margin: 70px auto;
}
.course-item {
  box-shadow: 0 5px 10px rgb(208, 208, 208);
  display: flex;
  margin: 20px;
  flex-direction: column;
  list-style: armenian;
  width: 400px;
}

.course-item img {
  margin: 20px auto;
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.course-item h3 {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
}

.course-item p {
  padding: 0 5px 10px 5px;
  letter-spacing: 3px;
  line-height: 1.2;
}
.jquery-list {
  list-style-type: disc;
  padding-left: 40px;
  line-height: 1.2;
}

.table {
  margin: 0 auto;
  width: fit-content;
}

.table h3 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

.table th,
td {
  width: 10%;
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.light {
  color: #00cc99;
  font-weight: bold;
}

/* form */
.contact-box {
  margin-top: 60px;
  background: linear-gradient(180deg, #e4fff8 0%, #a2ddce 100%);
}

.contact-box h2 {
  color: #00251a;
  text-align: center;
  font-size: 23px;
  padding-top: 38px;
  line-height: 32px;
  letter-spacing: 2px;
}

.contact textarea {
  margin-left: 50px;
  margin-right: 90px;
  width: 350px;
  height: 200px;
  max-width: 350px;
  max-height: 200px;
  resize: none;
  padding: 10px;
}

.contact {
  display: flex;
  flex-direction: row-reverse;
  padding: 30px 20px;
}

.form-left {
  display: flex;
  flex-direction: column;
  margin-left: 41px;
  width: 350px;
}

.form-left label {
  color: #00251a;
  font-size: 15px;
  padding-bottom: 10px;
}

.form-left input {
  height: 33px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 15px;
  letter-spacing: 1px;
}

.button {
  text-align: center;
  margin-left: 80%;
  margin-top: 40px;
}
.button input {
  color: white;
  text-align: center;
  background: #00251a;
  cursor: pointer;
  width: 160px;
}

.button input:hover {
  background-color: #00cc99;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  letter-spacing: 1.5px;
  line-height: 30px;
  align-items: center;
}

.footer h1 {
  display: block;
  background-image: url(./image/hexschool-logo.png);
  background-repeat: no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 30px;
}

.footer a {
  text-decoration: none;
  color: #00cc99;
}

.footer a:hover {
  color: #00251a;
  cursor: pointer;
}
